In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [4]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [12]:
# x = data.head(7)#[:7]
type(x.index)

pandas.core.indexes.range.RangeIndex

# Titanic

In [16]:
titanic = pd.read_csv('/Users/antonmazilin/Downloads/titanic.csv')

In [20]:
titanic.dtypes#shape

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object